
body{
    display: flex;
    flex-direction: column;
    margin: 0 0.4rem 0 1rem;
    line-height: 1.5;
    text-transform: uppercase;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 15px;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 16px;
}

body::-webkit-scrollbar-track {
    background: #ffffff; /* Цвет фона трека */
    /*border-radius: 10px;*/ /* Скругление углов трека */
}

body::-webkit-scrollbar-thumb {
    background: #888; /* Цвет ползунка */
    margin-right: 5px;
    border-radius: 10px;

    /*Граница такого размера создаёт своеобразный padding*/
    border: 5px solid #ffffff;
}

body::-webkit-scrollbar-button{
    display: none;
}

.container{
    /*padding: 0.5rem;*/
    min-height: 90vh;
}
.app-container{
    /*padding: 0.5rem;*/

    max-width: 1500px;
    margin: 0 auto;
}
/*Для телефонов изменить отступы контейнера */
@media only screen and (hover: none) and (pointer: coarse){
    .app-container{
        margin: 0 0.7rem 0 0;
    }
}

input, textarea, button, select, label, a {
    outline: none;
}

.text-Big {
    font-size: 1.2rem;
}

/*Главный блок*/
main {
    min-height: 90vh;
}
.min-vh-90 {
    min-height: 90vh;
}

.main-section{
    flex-grow: 1;
}

/*Подвал*/
footer.basic {
    flex-shrink: 0;
    padding: 1.2% 0 1.2% 1.2%;
    margin-top: 10vh;
    color: rgb(149, 151, 152);
}

/*Общая настройка для абзацев*/
p.paragraph-settings {
    margin-left: 5%;
    font-size: 1.04rem;
}

summary::marker {
    color: rgb(113, 119, 152);
}

summary {
    cursor: pointer;
}

details.task-details {
    margin-bottom: 0.5rem;
    background: rgba(240,240,240,1);
    border-radius: 18px;
    padding-left: 0.8rem;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
}

.task-details div {
    padding: 1rem;
    padding-top: 0.8rem;
    margin-left: 3rem;
}
/*endregion*/

/*region Высоты и ширины*/
.w-10{
    width: 10%;
}
.w-15{
    width: 15%;
}
.w-38{
    width: 38%;
}
.w-45{
    width: 45%;
}
.w-95{
    width: 95%!important;
}

.h-8-rem{
    height: 8rem;
}
.h-5-rem{
    height: 5rem;
}
.h-4-rem{
    height: 4rem;
}
.h-10-rem{
    height: 10rem;
}

/*endregion*/

.list-group img {
    width: 10rem;
}

.alignment-center {
    text-align: center
}

.min-vh-90{
    min-height: 70vh;
}

.mt-10-percent{
    margin-top: 10%;
}

.mx-8-rem{
    margin-left: 8rem;
    margin-right: 8rem;
}


.white-shadow{
    box-shadow: 0 0 9px 0 white;
}

.mt-25-percent{
    margin-top: 25%;
}

.soft-shadow{
    box-shadow: 0 0 9px 0 rgb(207, 207, 207,0.70);
}

.navbar-brand:hover{
    transform: scale(1.03);
}

.error-message{
    color: rgb(227, 46, 46);
    font-weight: bold;
}


/*region Toast сообщение*/
.toast-container{
    position: fixed;
    /*min-height: 30%;
    top: 5rem;*/
    right: 1.5rem;
    z-index: 1001;
    overflow-y: auto;
    overflow-x: hidden;
    transition: height 0.35s ease-out;
    text-transform: initial;
}


/*endregion*/

td.align-vertical, th.align-vertical{
    vertical-align: middle;
}

/*Цвет фона*/
.bg-light-blue{
    background-color: #0d6efc42;
}

/*Общий стиль кнопки*/
.btn{
    background: transparent;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -ms-flex-align: center;

    align-items: center;

    -webkit-box-pack: center;
    -ms-flex-pack: center;

    justify-content: center;

    border: 2px solid transparent;

    border-radius: 25px;

    height: 50px;
    padding: 0 15px;

    margin: 0;

    outline: none;
    cursor: pointer;
    color: #262626;

    font-size: 14px;
    font-weight: 600;

    -webkit-transition: all 0.3s;
    transition: all 0.3s;

    text-align: center;

    line-height: 1;
    letter-spacing: 0.5px;
}