<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

    <!-- конфигурация для Spring REST -->

    <!-- ищем компоненты (контроллеры, сервисы) во всех вложенных пакетах  -->
    <context:component-scan base-package="gp.wagner.backend.*" />

    <mvc:annotation-driven/>

    <!-- конфигурация для JPA - Spring Data -->
    <jpa:repositories base-package="gp.wagner.backend.repositories"/>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName">
            <value>com.mysql.jdbc.Driver</value>
        </property>
        <property name="url">
            <value>jdbc:mysql://localhost:3306/furniture_shop</value>
        </property>
        <property name="username">
            <value>root</value>
        </property>
        <property name="password">
            <value>A123456Qw1</value>
        </property>
    </bean>

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="persistenceUnitName" value="jpaData"/>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
        </property>
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <!-- показывать или не показывать текст запроса при выполнении запроса -->
                <prop key="hibernate.show_sql">true</prop>
                <!-- форматировать или не форматировать выводимый текст запроса при его выполнении -->
                <prop key="hibernate.format_sql">true</prop>
                <!-- поведение при запуске - не менять БД, менять БД или создавать БД -->
                <prop key="hibernate.hbm2ddl.auto">none</prop> <!-- update или create или none  -->

                <!-- Настройки Hibernate Search -->
                <prop key="hibernate.search.default.directory_provider">filesystem</prop>
                <prop key="hibernate.search.default.indexBase">src/main/resources/indexes</prop>

                <!--<prop key="hibernate.search.backend.hosts">elasticsearch.mycompany.com</prop>
                <prop key="hibernate.search.backend.protocol">https</prop>
                <prop key="hibernate.search.backend.username">root</prop>
                <prop key="hibernate.search.backend.password">A123456Qw1</prop>-->

                <!--<prop key="hibernate.search.backend.hosts">localhost:9200</prop>
                <prop key="hibernate.search.backend.protocol">http</prop>
                <prop key="hibernate.search.backend.index_defaults.lifecycle.strategy">create</prop>
                <prop key="hibernate.ejb.metamodel.population">explicit</prop>-->

                <!--<prop key="hibernate.search.backend.directory.root">src/main/resources/indexes</prop>-->


            </props>
        </property>

    </bean>

</beans>