HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

**/src/main/resources/db/changelog
**/src/main/resources/db/temp
**/src/main/resources/scripts_db/for_tests.json
**/src/main/resources/scripts_db/clean_tables.sql
**/src/main/resources/scripts_db/postman_objects.json
**/src/main/resources/WEB-INF
**/src/main/resources/application_t.yaml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
**/src/main/resources/scripts_db/create_functions.json
**/furniture_shop_wagner.sql
**/uploads/**

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/